.feedbackWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 35px;
}

.button {
  text-transform: capitalize;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  transition: scale 500ms, transform 500ms;
}

.button:hover {
  border: 2px solid rgb(187, 75, 0);
  color: white;
  background-color: rgb(187, 75, 0);
  scale: 1.05;
  transform: matrix(45);
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
