.wrapper {
  background-color: rgba(218, 163, 46, 0.247);
  text-align: center;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  margin: 150px auto 0 auto;
  padding: 30px;
  border-radius: 15px;
}

.icon_good {
  padding-bottom: 5px;
}

.icon_bad {
  padding-bottom: 3px;
}
